
.index_box p,.index_box button,.index_box input,.index_box select,.index_box textarea,.index_box h1,.index_box h2,.index_box h3,.index_box h4,.index_box h5,.index_box h6{
	border:none;
	margin:0;
	padding:0;
}
body{
	background:#FFFFFF;
}
.search{
	width:100%;
	height:1.02rem;
	padding:0.19rem 0.1rem 0;
	display: -webkit-flex;
	display: flex;
}
.search input{
	width:84.6%;
	height:0.64rem;
	padding-left:0.3rem;
	background:#eaeaea;
	display: block;
	color:#cbcbcb;
	font-size:0.28rem;
	border-radius: 0.24rem 0 0 0.24rem;
}
.search .search_bth{
	width:15.4%;
	height:0.64rem;
	padding:0.12rem 0;
	background:#eaeaea;
	border-radius: 0 0.24rem 0.24rem 0;
}
.search button{
	width:100%;
	height:0.4rem;
	border:none;
	border-radius:0;
	background:#eaeaea;
	display: block;
	border-left:0.02rem solid #c3c3c3;
}
input::-webkit-input-placeholder { /* WebKit browsers*/ 
　　color:#cbcbcb;
	font-size:0.28rem;
}
.nav{
	width:100%;
	height:0.86rem;
	background:#FFFFFF;
	padding:0 0.34rem;
}
.nav ul{
	width:86%;
	padding-left:0.1rem;
}
.nav ul li{
	height:0.86rem;
	line-height:0.86rem;
	margin-right: 0.38rem;
	font-size:0.28rem;
}
.nav ul li a{
	color:#323232;
}
.nav ul li.active a{
	color:#ff9f38;
}
.nav .nav_img img{
	width:0.37rem;
	height:0.37rem;
	margin-top:0.25rem;
}
/*轮播图*/
.banner-bg{
	width:100%;
	background:#609edb;
	/*margin-top:0rem;*/
}
.clear{
	width:100%;
	height:0.26rem;
	display: block;
	/*background:yellow;*/
}
.wrap{
	position: relative;
	overflow: hidden;
}
.box{
	position: absolute;
	left:0;
	top:0;
}
.box li{
	float:left;
}
.box li img{
	display:block;
	width:100%;
	height:100%;
}
#nav {
	position: absolute;
	left: 0;
	bottom: 0.2rem;
	width: 100%;
	line-height: 0.1rem;
	text-align: center;
}
#nav span {
	display: inline-block;
	width: 0.12rem;
	height: 0.12rem;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border:0.01rem solid #807e7b;
}
#nav .active {
	background: #d8cfbe;
}
.video_prefecture{
	width:100%;
	background:#fff;
	margin-bottom: 1.2rem;
	padding:0 0.34rem;
}
.tit_base{
	width:100%;
	height:0.92rem;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
}
.tit_base h4{
	line-height:0.92rem;
	font-size:0.3rem;
	color:#333333;
}
.tit_base .tit_img a img{
	width:0.88rem;
	height:0.26rem;
	margin-top:0.35rem;
}
.video_prefecture_left{
	padding-left:0.46rem;
	background:url(../img/images/video_ico.png) no-repeat 0 0.27rem;
	background-size:0.35rem 0.37rem;
}
.video_prefecture ul{
	width:100%;
	overflow: hidden;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap;
}
.video_prefecture ul li{
	width:3.36rem;
	height:3.24rem;
	padding-top:0.2rem;
}
.video_prefecture ul li img{
	width:3.36rem;
	height:2.1rem;
	display: block;
}
.video_prefecture ul li a h5{
	font-size:0.28rem;
	color:#323232;
	margin: 0.2rem 0;
	line-height:0.28rem;
}
.video_prefecture ul li a p{
	font-size:0.24rem;
	color:#646464;
	line-height:0.24rem;
}
.video_prefecture ul li a h5,.video_prefecture ul li a p{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.video_prefecture ul li a p span:nth-child(1){
	margin-right: 0.1rem;
}
/*底部菜单*/
.foote{
	width:100%;
	height:0.98rem;
	position: fixed;
	left:0;
	bottom: 0;
	z-index: 100;
	background:#fff;
	font-size:0.24rem;
	
}
.foote ul li{
	width:25%;
	height:0.98rem;
	text-align: center;
}
.foote ul li a img{
	width:0.43rem;
	height:0.43rem;
	margin:0.12rem 0 0rem 0;
}
.foote ul li div{
	height:0.58rem;
}
.foote ul li div span{
	font-size:0.24rem;
}
.foote ul li a{
	color:#999999;
}
.foote ul li.active a{
	color:#323232;
}