
body{
	background:#f7f7f7;
}
.header{
	width:100%;
	height:0.88rem;
	background:#f2f2f2;
}
.h_c{
	text-align: center;
	line-height: 0.88rem;
	font-size:0.36rem;
	font-weight: bold;
	color:#333333;
	background:url(../img/h_img.png) no-repeat 0.35rem 0.29rem;
	background-size:0.3rem;
}
.my_info{
	padding:0.3rem 0.34rem 0; 
	background:#FFFFFF;
	margin-bottom: 0.1rem;
}
.info_tit{
	width:100%;
	height:0.86rem;
	overflow: hidden;
	border-bottom: 0.02rem solid #EFEFEF;
}
.info_tit .info_l{
	width:72%;
	line-height:0.86rem;
	font-size:0.28rem;
	color:#323232;
	overflow: hidden;
}.info_tit .info_l p{
	height:0.86rem;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp:1;
	-webkit-box-orient:vertical;
	
}

.info_tit .info_r{
	width:28%;
	line-height:0.86rem;
	font-size:0.24rem;
	color:#646464;
}
.info_tit .info_r span:nth-child(2){
	margin-left:0.32rem;
}
.info_content{
	font-size:0.24rem;
	line-height: 0.36rem;
	color:#333333;
	padding:0.17rem 0;
}
