
/*body{
	background:red;
}*/
.header{
	width:100%;
	height:0.88rem;
	background:#f2f2f2;
}
.h_c{
	text-align: center;
	line-height: 0.88rem;
	font-size:0.36rem;
	font-weight: bold;
	color:#333333;
	background:url(../img/h_img.png) no-repeat 0.35rem 0.29rem;
	background-size:0.3rem;
}
.heade{
	width:100%;
	height:2.4rem;
	padding:0.6rem 0 0 0.54rem;
	background:url(../../img/images/center_bg.png) no-repeat;
	background-size:7.5rem 2.4rem;
}
.portrait{
	width:1.2rem;
	height:1.2rem;
	border-radius: 50%;
	text-align: center;
	background:#ffdcb7;
}
.portrait img{
	width:1.2rem;
	height:1.2rem;
}
.lg_and_rgst{
	width:1.6rem;
	height:0.56rem;
	border: 0.02rem solid #FFFFFF;
	border-radius: 0.2rem;
	text-align: center;
	line-height: 0.56rem;
	font-size:0.28rem;
	margin:0.1rem 0 0 0.44rem;
	color:#FFFFFF;
}
.lg_and_rgst a{
	color:#FFFFFF;
}
.list{
	margin-top:0.6rem;
	background:#FFFFFF;
}
.list ul li{
	width:100%;
	height:1.2rem;
	padding-left:0.9rem;
	padding-right:0.36rem;
	font-size:0.28rem;
	border-bottom: 0.02rem solid #f7f7f7;
}
.list ul li a{
	color:#323232;
	line-height:1.2rem;
}
.list ul li a .list_li{
	width:95%;
}
.list ul li:nth-child(1){
	background:url(../../img/images/my_center01.png) no-repeat 0.34rem 0.42rem;
	background-size:0.37rem 0.35rem;
}
.list ul li:nth-child(2){
	background:url(../../img/images/my_center2.png) no-repeat 0.34rem 0.42rem;
	background-size:0.37rem 0.35rem;
}
.list ul li:nth-child(3){
	background:url(../../img/images/my_center3.png) no-repeat 0.34rem 0.42rem;
	background-size:0.37rem 0.35rem;
}
.list ul li:nth-child(4){
	background:url(../../img/images/my_center04.png) no-repeat 0.34rem 0.42rem;
	background-size:0.37rem 0.35rem;
}
.list ul li .fr img{
	height:0.35rem;
}
.foote{
	width:100%;
	height:0.98rem;
	position: fixed;
	left:0;
	bottom: 0;
	z-index: 100;
	background:#fff;
	font-size:0.24rem;
}
.foote ul li{
	width:25%;
	height:0.98rem;
	text-align: center;
}
.foote ul li a img{
	width:0.43rem;
	height:0.43rem;
	margin:0.12rem 0 0rem 0;
}
.foote ul li a{
	color:#999999;
}
.foote ul li.active a{
	color:#323232;
}
