
/*互动社区*/
body{
	background:#FFFFFF;
}
.header{
	width:100%;
	height:0.88rem;
	background:#f2f2f2;
}
.h_c{
	text-align: center;
	line-height: 0.88rem;
	font-size:0.36rem;
	font-weight: bold;
	color:#333333;
	background:url(../img/h_img.png) no-repeat 0.35rem 0.29rem;
	background-size:0.3rem;
}
.recommend{
	padding-bottom: 1.14rem;
	background:#fff;
}
.recommend .content_tit{
	height:0.98rem;
	line-height:0.98rem;
	padding:0 0.34rem;
	font-weight: bold;
	font-size:0.28rem;
	border-bottom: 0.02rem solid #f7f7f7;
	background:#FFFFFF;
	color:#323232;
}
.recommend .content{
	height:0.78rem;
	line-height: 0.78rem;
	padding:0 0.34rem;
	font-size:0.24rem;
	/*display: -webkit-flex;
	display:flex;
	justify-content: space-between;*/
	border-bottom: 0.02rem solid #f7f7f7;
	background:#FFFFFF;
	color:#5b5b5b;
}
.recommend .content .con_l{
	width:40%;
	display: -webkit-flex;
	display:flex;
	justify-content:space-between;
}
